@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  background-color: #0f172a;
  background-image: url('/grid.svg');
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #34d399; border-radius: 4px; }
