@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  background-color: theme('colors.neutral.800');

  background-image: theme('backgroundImage.grid');
  background-size: cover;
}

.scrol::-webkit-scrollbar {
  width: 3px;
}